version: '3.9'

services:
  postgres:
    image: postgres:12-alpine
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
      POSTGRES_DB: bookstore
    volumes:
      - ./postgresql_data:/var/lib/postgresql/data
    networks:
      - bookstore-network

  nestjs-app:
    build: .
    ports:
      - 3000:3000
    depends_on:
      - postgres
    networks:
      - bookstore-network

volumes:
  postgresql_data:

networks:
  bookstore-network:
    driver: bridge
